{
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 4,
  "useTabs": true,
  "semi": false,
  "arrowParens": "avoid",
  "jsxSingleQuote": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/app/(.*)$",
    "^@/features/(.*)$",
    "^@/shared/(.*)$",
    "^../(.*)$",
    "^./(.*)$"
  ],
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}